:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

body {
	color: #FFF;
	background-color: var(--dark);
}

body .card {
	color: #FFF;
	background-color: var(--dark);
}

body h1, body .card h2{  
	color: var(--pink);
}

hr {
	border-radius: 20%;
	border-width: 5px;
	color: var(--pink);
}

body button:hover {
	opacity: 0.8;
}

body button:active {
	opacity: 0.6;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

.task .content .text {
	color: var(--pink);
	width: 100%;
	transition: 0.4s;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#new-tasks-input {
    flex: 1 1 0%;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
}

#new-tasks-input button {
    background-color: slateblue;
    color: ivory;
}